ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 15px;
    border: 1px solid #ffffff31;
    cursor: pointer;
    transition: background 0.5s;
}

li:hover{
    background-color: #ffffff31;
}

li p, li q{
    text-align: center;
    margin-top: 15px;
}