.App{
    min-height: 100%;
    color: #ffffff;
    background-color: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App .icon{
    margin-bottom: 15px;
}